.list-container {
    display: block;
    min-width: 250px;
    min-height: 450px;
    max-width: 250px;
    max-height: 450px;
    border: solid;
    border-color: black;
    margin-right: 300px;
    background-color: white;
    overflow-y: auto;
    overflow-x: hidden;
}