.input-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#commentField {
    max-width: 172px;
    max-height: 100px;
    min-width: 172px;
    min-height: 100px;
}

.input-field mat-form-field + mat-form-field {
  margin-left: 8px;
}

.datePicker {
    max-width: 212px;
}

.comment-field {
    max-height: 200px;
    min-height: 200px;
}

.button {
  font-size: 14px;
  min-width: 120px;
  margin-left: 45px;
}