.brand-name {
    max-width: fit-content;
}

.logo-name {
    font-size: xx-large;
}

.content {
    display: flex;
    justify-content: space-between;
    margin-top: 160px;
    margin-left: 800px;
}